<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551236596104-vvra1vicofr9f8v6gen59o8ifrrg6gef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551236596104-vvra1vicofr9f8v6gen59o8ifrrg6gef</string>
	<key>API_KEY</key>
	<string>AIzaSyDgcCh8cmH_dFE_0m7aytYfWDv-Rv5td-g</string>
	<key>GCM_SENDER_ID</key>
	<string>551236596104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testApp</string>
	<key>PROJECT_ID</key>
	<string>staging-project-c8bbe</string>
	<key>STORAGE_BUCKET</key>
	<string>staging-project-c8bbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551236596104:ios:129d62ffed4c6b13228a3d</string>
	<key>DATABASE_URL</key>
	<string>https://staging-project-c8bbe.firebaseio.com</string>
</dict>
</plist>